tf/claire/state_machines/acquisition.json
{
    "StartAt": "CreateInvestigation",
    "States": {
        "CreateInvestigation": {
            "Type": "Task",
            "Resource": "${create_investigation}",
            "Next": "CanInvestigationProceed"
        },
        "CanInvestigationProceed": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.investigation_id",
                    "StringGreaterThan": "",
                    "Next": "IsolateAndPrepareExtractor"
                }
            ],
            "Default": "CannotCreateInvestigation"
        },
        "IsolateAndPrepareExtractor": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "CreateExtractor",
                    "States": {
                        "CreateExtractor": {
                            "Type": "Task",
                            "Resource": "${create_evidence_extractor}",
                            "Next": "WaitForExtractorBoot"
                        },
                        "WaitForExtractorBoot": {
                            "Type": "Wait",
                            "Seconds": 10,
                            "Next": "PollExtractor"
                        },
                        "PollExtractor": {
                            "Type": "Task",
                            "Resource": "${poll_evidence_extractor}",
                            "Next": "IsExtractorReady"
                        },
                        "IsExtractorReady": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.is_ready",
                                    "BooleanEquals": true,
                                    "Next": "ExtractorReady"
                                }
                            ],
                            "Default": "WaitForExtractorBoot"
                        },
                        "ExtractorReady": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "IsolateInstance",
                    "States": {
                        "IsolateInstance": {
                            "Type": "Task",
                            "Resource": "${isolate_instance}",
                            "End": true
                        }
                    }
                }
            ],
            "OutputPath": "$.[0]",
            "Next": "GatherEvidence"
        },
        "GatherEvidence": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "PrepareMemoryVolume",
                    "States": {
                        "PrepareMemoryVolume": {
                            "Type": "Task",
                            "Resource": "${prepare_memory_volume}",
                            "Next": "WaitPrepareMemoryVolume",
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "IntervalSeconds": 30,
                                    "MaxAttempts": 3
                                }
                            ]
                        },
                        "WaitPrepareMemoryVolume": {
                            "Type": "Wait",
                            "Seconds": 10,
                            "Next": "PollPrepareMemoryVolume"
                        },
                        "PollPrepareMemoryVolume": {
                            "Type": "Task",
                            "Resource": "${is_command_complete}",
                            "Next": "IsPrepareMemoryVolume"
                        },
                        "IsPrepareMemoryVolume": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.is_ready",
                                    "BooleanEquals": true,
                                    "Next": "MoveMemoryVolumeToInstance"
                                }
                            ],
                            "Default": "WaitPrepareMemoryVolume"
                        },
                        "MoveMemoryVolumeToInstance": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "${move_volumes}",
                                "Input": {
                                    "data.$": "$.move_volumes",
                                    "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                                }
                            },
                            "Next": "CaptureMemory",
                            "ResultPath": null
                        },
                        "CaptureMemory": {
                            "Type": "Task",
                            "Resource": "${capture_memory}",
                            "Next": "WaitCaptureMemory"
                        },
                        "WaitCaptureMemory": {
                            "Type": "Wait",
                            "Seconds": 30,
                            "Next": "PollCaptureMemory"
                        },
                        "PollCaptureMemory": {
                            "Type": "Task",
                            "Resource": "${is_command_complete}",
                            "Next": "IsCaptureMemory"
                        },
                        "IsCaptureMemory": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.is_ready",
                                    "BooleanEquals": true,
                                    "Next": "MoveMemoryVolumeToExtractor"
                                }
                            ],
                            "Default": "WaitCaptureMemory"
                        },
                        "MoveMemoryVolumeToExtractor": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "${move_volumes}",
                                "Input": {
                                    "data.$": "$.move_volumes",
                                    "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                                }
                            },
                            "Next": "RunMemoryAnalysis",
                            "ResultPath": null
                        },
                        "RunMemoryAnalysis": {
                            "Type": "Task",
                            "Resource": "${upload_memory}",
                            "Next": "WaitRunMemoryAnalysis"
                        },
                        "WaitRunMemoryAnalysis": {
                            "Type": "Wait",
                            "Seconds": 10,
                            "Next": "PollRunMemoryAnalysis"
                        },
                        "PollRunMemoryAnalysis": {
                            "Type": "Task",
                            "Resource": "${is_command_complete}",
                            "Next": "IsRunMemoryAnalysis"
                        },
                        "IsRunMemoryAnalysis": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.is_ready",
                                    "BooleanEquals": true,
                                    "Next": "DetachAndDeleteVolume"
                                }
                            ],
                            "Default": "WaitRunMemoryAnalysis"
                        },
                        "DetachAndDeleteVolume": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "${move_volumes}",
                                "Input": {
                                    "data.$": "$.move_volumes",
                                    "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                                }
                            },
                            "End": true,
                            "ResultPath": null
                        }
                    }
                },
                {
                    "StartAt": "SnapshotVolumes",
                    "States": {
                        "SnapshotVolumes": {
                            "Type": "Task",
                            "Resource": "${snapshot_volumes}",
                            "Next": "WaitSnapshotVolumes"
                        },
                        "WaitSnapshotVolumes": {
                            "Type": "Wait",
                            "Seconds": 10,
                            "Next": "PollSnapshotVolumes"
                        },
                        "PollSnapshotVolumes": {
                            "Type": "Task",
                            "Resource": "${snapshot_volumes_ready}",
                            "Next": "IsSnapshotVolumes"
                        },
                        "IsSnapshotVolumes": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.is_ready",
                                    "BooleanEquals": true,
                                    "Next": "CreateVolumesFromSnapshots"
                                }
                            ],
                            "Default": "WaitSnapshotVolumes"
                        },
                        "CreateVolumesFromSnapshots": {
                            "Type": "Task",
                            "Resource": "${create_volumes}",
                            "Next": "AttachVolumes"
                        },
                        "AttachVolumes": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "${move_volumes}",
                                "Input": {
                                    "data.$": "$.data",
                                    "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                                }
                            },
                            "Next": "CaptureVolumes",
                            "ResultPath": null
                        },
                        "CaptureVolumes": {
                            "Type": "Task",
                            "Resource": "${capture_volumes}",
                            "Next": "WaitCaptureVolumes"
                        },
                        "WaitCaptureVolumes": {
                            "Type": "Wait",
                            "Seconds": 60,
                            "Next": "PollCaptureVolumes"
                        },
                        "PollCaptureVolumes": {
                            "Type": "Task",
                            "Resource": "${is_command_complete}",
                            "Next": "IsCaptureVolumes"
                        },
                        "IsCaptureVolumes": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.is_ready",
                                    "BooleanEquals": true,
                                    "Next": "DetachAndDeleteVolumes"
                                }
                            ],
                            "Default": "WaitCaptureVolumes"
                        },
                        "DetachAndDeleteVolumes": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "${move_volumes}",
                                "Input": {
                                    "data.$": "$.data",
                                    "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                                }
                            },
                            "End": true,
                            "ResultPath": null
                        }
                    }
                }
            ],
            "Next": "TerminateExtractorInstance"
        },
        "TerminateExtractorInstance": {
            "Type": "Task",
            "Resource": "${terminate_evidence_extractor}",
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        },
        "CannotCreateInvestigation": {
            "Type": "Fail"
        }
    }
}