tf/claire/state_machines/move_memory_volume.json
{
    "StartAt": "DetachVolume",
    "States": {
        "DetachVolume": {
            "Type": "Task",
            "Resource": "${detach_memory_volume}",
            "Next": "WaitDetachVolume"
        },
        "WaitDetachVolume": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "PollDetachVolume"
        },
        "PollDetachVolume": {
            "Type": "Task",
            "Resource": "${is_memory_volume_detached}",
            "Next": "IsDetachVolume"
        },
        "IsDetachVolume": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.is_ready",
                    "BooleanEquals": true,
                    "Next": "AttachOrDestroy"
                }
            ],
            "Default": "WaitDetachVolume"
        },
        "AttachOrDestroy": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.memory_vol_attach_to",
                    "StringGreaterThan": "",
                    "Next": "AttachVolume"
                }
            ],
            "Default": "DeleteMemoryVolume"
        },
        "AttachVolume": {
            "Type": "Task",
            "Resource": "${attach_memory_volume}",
            "Next": "WaitAttachVolume"
        },
        "WaitAttachVolume": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "PollAttachVolume"
        },
        "PollAttachVolume": {
            "Type": "Task",
            "Resource": "${is_memory_volume_attached}",
            "Next": "IsAttachVolume"
        },
        "IsAttachVolume": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.is_ready",
                    "BooleanEquals": true,
                    "Next": "Success"
                }
            ],
            "Default": "WaitAttachVolume"
        },
        "DeleteMemoryVolume": {
            "Type": "Task",
            "Resource": "${delete_memory_volume}",
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        }
    }
}