tf/claire/state_machines/move_volumes.json
{
    "StartAt": "IsAttached",
    "States": {
        "IsAttached": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.data.instance_from",
                    "StringGreaterThan": "",
                    "Next": "DetachVolume"
                }
            ],
            "Default": "AttachOrDestroy"
        },
        "DetachVolume": {
            "Type": "Task",
            "Resource": "${detach_volumes}",
            "Next": "WaitDetachVolume"
        },
        "WaitDetachVolume": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "PollDetachVolume"
        },
        "PollDetachVolume": {
            "Type": "Task",
            "Resource": "${is_detach_volumes_complete}",
            "Next": "IsDetachVolume"
        },
        "IsDetachVolume": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.is_ready",
                    "BooleanEquals": true,
                    "Next": "AttachOrDestroy"
                }
            ],
            "Default": "WaitDetachVolume"
        },
        "AttachOrDestroy": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.data.instance_to",
                    "StringGreaterThan": "",
                    "Next": "AttachVolume"
                }
            ],
            "Default": "DestroyVolumes"
        },
        "AttachVolume": {
            "Type": "Task",
            "Resource": "${attach_volumes}",
            "Next": "WaitAttachVolume"
        },
        "WaitAttachVolume": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "PollAttachVolume"
        },
        "PollAttachVolume": {
            "Type": "Task",
            "Resource": "${is_attach_volumes_complete}",
            "Next": "IsAttachVolume"
        },
        "IsAttachVolume": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.is_ready",
                    "BooleanEquals": true,
                    "Next": "Success"
                }
            ],
            "Default": "WaitAttachVolume"
        },
        "DestroyVolumes": {
            "Type": "Task",
            "Resource": "${destroy_volumes}",
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        }
    }
}